<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  

  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">	
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="">
          
          <%= link_to "Home", root_path, :class=>"brand" %>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <%= link_to "Blog", posts_path %>
              </li>
              <li class="">
                <a href="/keyword_density/index">Keyword Density</a>
              </li>
              <li class="">
                <%= link_to "User", users_path%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class= "container">
      <%= js add_gritter(flash[:notice], :image => :notice, :title => "Pay attention!", :sticky => true) %>
      <%= js add_gritter(flash[:error], :image => :error, :title => "Pay attention!", :sticky => true) %>
      
      <%= yield %>
    </div>
</body>
</html>
